.icon 
{
	font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	
	&--planet:before 
	{
	    content: "\e901";
	}
	
	&--lab:before 
	{
	    content: "\e902";
	}

	&-enlarge:before
	{
		content: "\e907";
	}

	&-shrink:before
	{
		content: "\e909"; 
	}

	&-enlarge, &-shrink
	{
		position: absolute; 
		color: map-get( $colors, 'parameter-background' ); 
		top: 12px; 
		right: 20px;
		cursor: pointer; 
		z-index: map-get( $layout, 'parameter-z-index' );

		&:hover
		{
			color: white; 
		}
	}
}