.input
{
	display: flex; 
	align-items: center; 
	margin: 0 20px; 

	@media ( max-width: 920px ) {
		margin: 0 6px; 
	}

	&-label
	{
		margin: 10px; 
		font-weight: 600; 
		color: white;
	}

	&-box
	{
		width: map-get( $layout, 'parameter-width' );
		height: map-get( $layout, 'parameter-height'); 
		background: map-get( $colors, 'parameter-background' ); 	 
		border-radius: map-get( $layout, 'parameter-border-radius' ); 	
		// padding: map-get( $layout, 'parameter-padding' ); 
		padding: 0; 
		margin: 0;

		@media ( max-width: 1200px ) {
			height: 36px;
		}

		@media ( max-width: 920px ) {
			height: 30px;
			width: 150px
		}
	}

	&-container
	{
		position: absolute; 
		width: 100%; 
		display: flex; 
		justify-content: center; 
		align-items: center; 
		z-index: map-get( $layout, 'input-z-index' );

		@media ( max-width: 1200px ) {
			justify-content: flex-start;
		}
	}
}