.sun 
{
	position: absolute; 
	width: 400%; 
	border-radius: 50%; 
	background: map-get( $colors, 'sun' ); 
	right: 0; 
	top: 50%;

	&-container 
	{
		position: absolute;
		width: 10%;
		height: 100%; 
	}
}