html( lang = 'no', ng-app = 'app' )
	head
		meta( charset = 'utf-8' )
		title Planets
		meta( name = 'description' content = '' )
		meta( name = 'viewport' content = 'initial-scale = 1.0, maximum-scale = 1.0, user-scalable = 0' )
		link( rel = 'stylesheet' href = 'https://fonts.googleapis.com/css?family=Raleway:400,600,200,800' )
		link( rel = 'stylesheet' href = 'https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css' )
		link( rel = 'stylesheet' href = 'app.css' )
	body

		.container

			.input-container( ng-controller = 'ParameterCtrl as parameter' ng-hide = 'parameter.menus.hidden' )
				.input
					.input-label Order 
					ul.input-box( dnd-list = 'parameter.input.order.item' dnd-drop = 'parameter.droppedInInput( parameter.input.order, item )' )
						li.parameter( ng-repeat = 'item in parameter.input.order.item' dnd-draggable = 'item' dnd-moved = 'parameter.input.order.item.splice( $index, 1)' /*dnd-dragover = 'parameter.active = true' ng-class = " { 'parameter-input-active': parameter.active } "*/ ) {{ item.name }}
				.input 
					.input-label Size
					ul.input-box( dnd-list = 'parameter.input.size.item' dnd-drop = 'parameter.droppedInInput( parameter.input.size, item )' )
						li.parameter( ng-repeat = 'item in parameter.input.size.item' dnd-draggable = 'item' dnd-moved = 'parameter.input.size.item.splice( $index, 1)' dnd-dragstart = 'parameter.hideParameter( parameter.input.size.item, $index )') {{ item.name }}

			.sun-container( ng-controller = 'SunController as sun' )
				.sun( ng-style = " { 'height': sun.height, 'transform': 'translateY(' + ( sun.height / 2 * -1 ) + 'px)' } " )
			.planet-container( ng-controller = 'SolarSystemCtrl as solarSystem' ng-style = " { 'margin-left': solarSystem.sunContainerWidth } ")
				.planet-wrapper( ng-repeat = 'planet in solarSystem.planets' ng-class = "{ 'is-open': solarSystem.activePlanet.name === planet.name, 'is-closeToUs': planet.isOpen }" ng-click = 'solarSystem.openPlanet( planet )' ng-style = " { 'margin': solarSystem.margin, 'height': planet.size, 'left': solarSystem.calculateLeftValue( $index ) }"  )
					.planet( ng-style = " { 'background': planet.color, 'width': planet.size, 'height': planet.size }" )
						.planet-line
					.planet-label {{ planet.name }}
				span.icon.icon-enlarge( ng-hide = 'solarSystem.menus.hidden' ng-click = 'solarSystem.toggleMenus()')
				span.icon.icon-shrink( ng-show = 'solarSystem.menus.hidden' ng-click = 'solarSystem.toggleMenus()')
				.info( ng-class = "{ 'is-open': solarSystem.activePlanet }", ng-style = "{ 'background': solarSystem.activePlanet.color }" )
					.info-container
						.info-header
							.info-close( ng-click = 'solarSystem.closePlanet()' ) ✕
							.info-title {{ solarSystem.activePlanet.name }}
							.info-tabs
								.info-tab( ng-class = "{ 'is-active': solarSystem.currentTab === 'description' }" ng-click = "solarSystem.currentTab = 'description'" ) Description
								.info-tab /
								.info-tab( ng-class = "{ 'is-active': solarSystem.currentTab === 'data' }" ng-click = "solarSystem.currentTab = 'data'" ) Data
						.info-wrapper
							.info-description( ng-class = "{ 'is-active': solarSystem.currentTab === 'description' }" ) 
								.info-data-title Description
								span {{ solarSystem.activePlanet.description }}
							.info-data( ng-class = "{ 'is-active': solarSystem.currentTab === 'data' }" )
								.info-data--general
									.info-data-title General info
									.push-inwards
										table.info-data-content
											tr
												td Mass
												td {{ solarSystem.activePlanet.mass  | number:2}} km
											tr
												td Volume
												td {{ solarSystem.activePlanet.volume | number:2 }} km
											tr
												td Mean radius
												td {{ solarSystem.activePlanet.radius | number:2 }} km
													sup 3
											tr
												td Min. Surface temperature
												td {{ solarSystem.activePlanet.minTemperature | number:2 }} K
											tr
												td Max. Surface temperature
												td {{ solarSystem.activePlanet.maxTemperature | number:2 }} K
											tr
												td Surface gravity
												td {{ solarSystem.activePlanet.surfaceGravity | number:2 }} g
											tr
												td Orbital period
												td {{ solarSystem.activePlanet.orbitalPeriod | number:2 }} days
											tr
												td Orbital speed
												td {{ solarSystem.activePlanet.orbitalSpeed | number:2 }} km/s
											tr
												td Number of moons
												td {{ solarSystem.activePlanet.moons | number:0 }}
											tr
												td Perihelion
												td {{ solarSystem.activePlanet.perihelion | number:2 }} AU
											tr
												td Aphelion
												td {{ solarSystem.activePlanet.aphelion | number:2 }} AU
											tr
												td Sidereal rotation period
												td {{ solarSystem.activePlanet.rotationPeriod | number:2 }} hrs
								.info-data--chemical
									.info-data-title Chemical info
									.push-inwards
										table.info-data-content
											tr
												td Oxygen
												td {{ solarSystem.activePlanet.oxygen / solarSystem.activePlanet.volume | number:2 }} %
											tr
												td Carbon dioxide
												td {{ solarSystem.activePlanet.carbonDioxide / solarSystem.activePlanet.volume | number:2 }} %
											tr
												td Carbon monoxide
												td {{ solarSystem.activePlanet.carbonMonoxide / solarSystem.activePlanet.volume | number:2 }} %
											tr
												td Nitrogen
												td {{ solarSystem.activePlanet.nitrogren / solarSystem.activePlanet.volume | number:2 }} %
											tr
												td Sulfur dioxide
												td {{ solarSystem.activePlanet.sulfurDioxide / solarSystem.activePlanet.volume | number:2 }} %
											tr
												td Argon
												td {{ solarSystem.activePlanet.argon / solarSystem.activePlanet.volume | number:2 }} %
											tr
												td Water vapor
												td {{ solarSystem.activePlanet.waterVapor / solarSystem.activePlanet.volume | number:2 }} %
											tr
												td Helium
												td {{ solarSystem.activePlanet.helium / solarSystem.activePlanet.volume | number:2 }} %
											tr
												td Hydrogen
												td {{ solarSystem.activePlanet.hydrogen / solarSystem.activePlanet.volume | number:2 }} %
											tr
												td Sodium
												td {{ solarSystem.activePlanet.sodium / solarSystem.activePlanet.volume | number:2 }} %
											tr
												td Potassium
												td {{ solarSystem.activePlanet.potassium / solarSystem.activePlanet.volume | number:2 }} %

			.parameter-menu( ng-controller = 'ParameterCtrl as parameter' ng-hide = "parameter.menus.hidden" )
				.parameter-tab-container
					.parameter-tab( ng-click = 'parameter.activeTab = parameter.dataTab' ng-class = " { 'parameter-tab--active': parameter.activeTab === parameter.dataTab } " )
						span.icon.icon--planet
					.parameter-tab( ng-click = 'parameter.activeTab = parameter.chemistryTab' ng-class = " { 'parameter-tab--active': parameter.activeTab === parameter.chemistryTab } " )
						span.icon.icon--lab
				.parameter-container
					ul.parameter-list( dnd-list = 'parameter.menus.parameters[0]' ng-show = ' parameter.activeTab === parameter.dataTab ')
						li.parameter( ng-repeat = 'item in parameter.menus.parameters[ 0 ]' dnd-draggable = 'item' dnd-dragstart = 'parameter.hideParameter( parameter.menus.parameters[0], $index )' dnd-moved = ' parameter.menus.parameters[0].splice( $index, 1 ) ' /*dnd-selected = 'parameter.moveByClickToInput( parameter.parameters[0], $index )'*/ ) {{ item.name }}
					ul.parameter-list( dnd-list = 'parameter.menus.parameters[1] ' ng-show = 'parameter.activeTab === parameter.chemistryTab ')
						li.parameter( ng-repeat = 'item in parameter.menus.parameters[ 1 ]' dnd-draggable = 'item' dnd-dragstart = 'parameter.hideParameter( parameter.menus.parameters[1], $index )' dnd-moved = 'parameter.menus.parameters[1].splice( $index, 1 ) ' ) {{ item.name }}
		script( src = 'app.js' )